# Ignore datasets
data/
*.mat
*.npy
*.pkl
*.h5
*.zip
*.7z
*.rar

# Ignore model checkpoints
checkpoints/
*.pt
*.pth

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db
# Frontend
node_modules/

# Backend
venv/
__pycache__/
.env
# Backend generated data
backend/reports/
backend/uploads/

# Line endings noise
*.csv
*.pdf
